PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=transit_optimization
DB_USER=postgres
DB_PASSWORD=postgres

POSTGRES_PORT=5432
POSTGRES_DB=transit_optimization
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
